:root{
/*### Primary*/
--StrongCyan: hsl(172, 67%, 45%);
/*### Neutral*/
--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: var(--GrayishCyan);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--LightGrayishCyan)
}
.app-title{
    color: var(--DarkGrayishCyan);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 8px;
    font-size: 24px;
    line-height: 1.4;
    margin: 2rem 0;
}
.wrapper{
    background-color: white;
    width: 374px;
    height: auto;
    border-radius: 14px 14px 0 0;
    padding: 1.8rem;
}
.bill-container h4{
    margin-bottom: 0.4rem;
}
.bill-form{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    background-color: var(--VeryLightGrayishCyan);
    align-items: center;
    border-radius: 10px;
}
.bill-form img{
    height: 18px;
    object-fit: contain;
}
.bill-input{
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    text-align: right;
    font-size: 24px;
    background-color: inherit;
    color: var(--VeryDarkCyan);
}
