:root{
/*### Primary*/
--StrongCyan: hsl(172, 67%, 45%);
/*### Neutral*/
--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
--LightGrayishCyanHover: hsl(185, 41%, 78%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: var(--GrayishCyan);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--LightGrayishCyan)
}
.app-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 8px;
    font-size: 24px;
    line-height: 1.4;
    margin: 2rem 0;
}
.app-title p{
    color: var(--DarkGrayishCyan);
}
.wrapper{
    background-color: white;
    width: 374px;
    height: auto;
    border-radius: 14px 14px 0 0;
    padding: 1.8rem;
}
.margin-bottom{
    margin-bottom: 0.4rem;
}
.bill-form{
    position: relative;
    margin-bottom: 1.8rem;
}
.bill-form span{
    height: 18px;
    object-fit: contain;
    display: block;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
}
.img-bill{
    background-image: url('./images/icon-dollar.svg');
}
.img-person{
    background-image: url('./images/icon-person.svg');
}
.bill-input{
    width: 100%;
    background-color: var(--VeryLightGrayishCyan);
    text-align: right;
    border: none;
    font-size: 24px;
    padding: 0.4rem 0.8rem;
    color: var(--VeryDarkCyan);
    border-radius: 8px;
}
.bill-input:focus{
    outline: 2px solid var(--StrongCyan);
}
.button-matrix-wrapper{
    margin-bottom: 2.4rem;
    width: 100%;
}
.button-matrix-wrapper h4{
    margin-bottom: 0.8rem;
}
.button-matrix{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem 1rem;
}
.button-ca{
    height: 3rem;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: var(--VeryDarkCyan);
    border: none;
    border-radius: 8px;
}
.button-ca:hover{
    background-color: var(--StrongCyan);
    cursor: pointer;
}
.button-cu-ca{
    width: 100%;
    background-color: var(--VeryLightGrayishCyan);
    text-align: right;
    border: none;
    font-size: 24px;
    padding: 0.4rem 0.8rem;
    color: var(--VeryDarkCyan);
    border-radius: 8px;
}
.button-cu-ca:focus{
    outline: 2px solid var(--StrongCyan);
}
.input-people-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-people-container span{
    color: hsl(0, 100%, 80%);
}
.total-wrapper{
    background-color: var(--VeryDarkCyan);
    border-radius: 14px;
    padding: 1.8rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 48px;
    grid-gap: 2.4rem;
}
.result-display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result-text h4{
    color: white;
}
.result-text p{
    font-size: 12px;
}
.result-number{
    color: var(--StrongCyan);
    font-size: 24px;
}
.total-wrapper button{
    border: none;
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan);
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.total-wrapper button:hover{
    background-color: var(--LightGrayishCyan);
}
.display-none{
    display: none;
}
.button-clicked{
    background-color: var(--StrongCyan);
}
